<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuymble over love</title>
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
    <style>
        @keyframes fall {
            0% {
            transform: translateX(0) translateY(0) rotate(30deg) scale(1);
            opacity: 0;
            }
            50% {
            transform: translateX(200px) translateY(150px) rotate(30deg) scale(1);
            opacity: 0.4;
            }
            75% {
            transform: translateX(0) translateY(800px) rotate(30deg) scale(1);
            opacity: 0.7;
            }
            100% {
            transform: translateX(0) translateY(1000) rotate(30deg) scale(1);
            opacity: 0;
            }
        }

        .animate-fall {
            animation: fall 10s ease-in infinite;
        }
      </style>
</head>

<body>
  <div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Product</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Features</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Marketplace</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Company</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
    </header>

    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#e32636] to-[#dc191c] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem] animate-fall" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>

        
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Announcing our new batch of TM Emotes! <a href="#" class="font-semibold text-[#e32636]"><span class="absolute inset-0" aria-hidden="true"></span>Get them now <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
        <div class="text-center">
          <h1 class="text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Stuymble Over Love</h1>
          <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Match with your future at Stuyvesant High School. To get started, you need to answer a couple of personal questions for us to determine your compatibility.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="rounded-md bg-[#e32636] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#dc191c] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#e32636]">Get Matched!</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <section>
        <h1>Stuymble over love</h1>
        <h2>Match with your future at Stuyvesant High School. To get started, you need to answer a couple of personal questions for us to determine your compatibility.</h2>
        <form id="selectionForm" method="POST">
            <label for="like">Choose a category:</label>
            <select name="like" id="like" onchange="submitSelectionForm()">
                {% for category in categories %}
                    <option value="{{ category }}"
                            {% if category == selected_category %}
                                selected
                            {% endif %}
                    >
                        {{ category }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </section>
</body>
</html>